:root {
    background-color: rgb(14,14,14);
}

* {
    background-color: white;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    display: grid;
    margin: 0 5vw 0 5vw;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: .6fr 1fr 3fr .5fr;
}

.logo {
    background-color: rgb(25, 144, 210);
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}

.logo-txt {
    background-color: rgb(25, 144, 210);
    color: white;
    font-size: 24px;
}

.logo-img {
    margin: 5px;
    height: 48px;
    width: 48px;
    background-color: rgb(25, 144, 210);
    
}

.header {
    height: 100px;
    background-color: white;
    grid-area: 1/2/3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    height: 50px;
    background-color: white;
    grid-area: 1/1/2/3;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20%
    
}

.header-top-lhs {
    height: 50px;
    background-color: white;
    padding: 5px;
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
}

.search-bar-img {
    background-color: white;
    width: 10%;
}

.search-bar-txt {
    background-color: rgb(226, 232, 240);
    padding: 5px;
    border: 2px black solid;
    border-radius: 20px;
    font-size: 18px;
}

.header-top-rhs {
    height: 50px;
    background-color: white;
    padding: 5px;
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-top-rhs-img1, .header-top-rhs-img2 {
    margin: 10px;;
    background-color: white;
    width: 36px;
}

.name {
    background-color: white;
    text-align: center;
    font-size: 18px;
    color: rgb(5,5,5);
}

.header-bottom {
    height: 80px;
    background-color: white;
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30%;
    
}

.header-bottom-lhs {
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-bottom-lhs-img {
    background-color: white;
    width: 10%;
}

.header-bottom-lhs-text-top {
    background-color: white;
    padding: 5px;
    color: rgb(5,5,5); 
    font-size: 18px;
}

.header-bottom-lhs-text-bottom {
    height: auto;
    background-color: white;
    padding: 5px;
    color: rgb(5,5,5); 
    font-size: 20px;
}

.header-bottom-rhs {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.header-bottom-rhs>button {
    color: white;
    background-color: rgb(25, 146, 212);
    font-size: 18px;
    border-radius: 20px;
    width: 6vw;
    margin: 20px 10px 20px 10px;
    
}

.header-bottom-rhs>button>a {
    color: white;
    text-decoration: none;
    background-color: rgb(25, 146, 212);
}

.sidebar {
    background-color: rgb(25, 146, 212);
    grid-area: 2/1/4/2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-images {
    background-color: rgb(25, 146, 212);
    color: white;
    width: 24px;
}

.sidebar p{
    background-color: rgb(25, 146, 212);
    color: white;
}

.sidebar-top-icons,
.sidebar-bottom-icons {
    background-color: rgb(25, 146, 212);
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
}

.sidebar-top-icons>div, 
.sidebar-bottom-icons>div {
    background-color: rgb(25, 146, 212);
    margin: 2px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.projects {
    background-color: rgb(226, 232, 240);
    grid-area: 2/2/4/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;

}

.projects-header {
    height: 50px;
    background-color: rgb(226, 232, 240);
    grid-area: 1/1/2/3;
}

.projects-header-text {
    background-color: rgb(226, 232, 240);
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    margin: 20px 0 0 20px;
    text-shadow: 5px;
}

.project-cards {
    background-color: rgb(226, 232, 240);
    margin: 10px;
    display: grid;
    grid-area: 2/1/4/3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card-top-text {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
}

.card-bottom-text {
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
}

.projects-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.projects-icons-images {
    width: 24px;
    height: auto;
    margin: 5px;
}

.project-cards-card {
    margin: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: solid 15px rgb(240, 180, 41);
    border-radius: 15px;
}

.project-cards-top {
    border-radius: 15px;
}

#first-card {
    grid-area: 1/1/2/2;
}

#second-card {
    grid-area: 1/2/2/3;
}

#third-card {
    grid-area: 2/1/3/2;
}

#fourth-card {
   grid-area: 2/2/3/3;
}

#fifth-card {
    grid-area: 3/1/4/2;
}

#sixth-card {
    grid-area: 3/2/4/3;
}

.announcements {
    font-size: 18px;
    font-weight: 300;
    background-color: rgb(226, 232, 240);
    grid-area: 2/3/4/4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements-top {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 5px rgb(226, 232, 240);
    border-radius: 35px;
}

.announcements-top-text {
    padding: 10px;
    margin: 5px 0 0 5px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
}

.announcements-items {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.site-maintenance {
    padding: 10px;
    background-color: white;
    border-bottom: rgb(226, 232, 240) solid 4px;
}

.site-maintenance-top-text {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 800;
}

.site-maintenance-bottom-text {
    font-size: 14px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 200;
}

.announcements-bottom {
    margin-right: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
} 

.announcements-trending,
.announcements-trending>p {
    padding: 5px 0 0 10px;
    border-radius: 15px;
}

.trending-icons-item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

#tegan {
    margin: 15px 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.tegan-img {
    width: 50px;
}

#morgan {
    margin: 15px 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.morgan-img {
    width: 50px;
}

#kendall {
    margin: 15px 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.kendall-img {
    width: 50px;
}

#alex {
    margin: 15px 0 15px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.alex-img { 
    width: 50px;
}

.footer { 
    background-color: rgb(25, 146, 212);
    height: 36px;
    grid-area: 4/1/5/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer>p {
    background-color: rgb(25, 146, 212);
    color: white;
}