* {
    background-color:khaki;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 2px;
}

div {
    /* background-color: aquamarine; */
    border: 2px solid black;
    text-align: center;
}

.logo {
    grid-area: 1/1/2/2;
    background-color: aquamarine;
}

.header {
    grid-area: 1/2/3/4;
    background-color: cornsilk;
}

.sidebar {
    background-color: darkgray;
    grid-area: 2/1/4/2;
}

.projects {
    background-color: coral;
    grid-area: 3/2/4/3;
}

.announcements {
    background-color: deepskyblue;
    grid-area: 3/3/4/4;
}

.footer { 
    background-color: forestgreen;
    grid-area: 4/1/5/4;
}